/*
    You can add your own custom styles here.
*/

.article-authors {
    display: flex;
    color: var(--card-text-color-main);
    gap: 15px;

    svg {
        vertical-align: middle;
        width: 20px;
        height: 20px;
        stroke-width: 1.33;
        flex-shrink: 0;
    }
}